$bg-color: #1f1f23;
$border-color: #2c2c33;
$primary-text-color: #ffffff;
$secondary-text-color: #aaaaaa;
$highlight-color: #9147ff;
$button-color: #3c404b;

.home-container {

  width: 100vw;
  height: 100vw;
  background: $bg-color;

  display: flex;
  flex-direction: column;

  padding: 10px;

}

.prompt-container {

  display: flex;
  flex-direction: column;

  & > div {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

}

.prompt-card {
  user-select: none;
  padding: 8px 12px;
  border-radius: 8px;
  background: $button-color;
  color: $primary-text-color;
  font-weight: 300;
}

.question {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
}
