$bg-color: #1f1f23;
$border-color: #2c2c33;
$primary-text-color: #ffffff;
$secondary-text-color: #aaaaaa;
$highlight-color: #9147ff;
$button-color: #3c404b;
$button-color-hover: #4f535e;

.home-container {

  width: 100vw;
  height: 100vw;
  background: $bg-color;

  display: flex;
  flex-direction: column;

  padding: 4px;

}

.prompt-container {

  display: flex;
  flex-direction: column;

  & > div {
    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }

}

.prompt-card {
  user-select: none;
  padding: 8px 10px;
  border-radius: 4px;
  background-color: $button-color;
  color: $primary-text-color;
  font-weight: 350;
  &:hover {
    background-color: $button-color-hover;
    cursor: pointer;
  }
}

.question {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
}
